<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ts123.zencoding</string>
	<key>connections</key>
	<dict>
		<key>3D4EB9C5-C300-446F-A3E3-0986F3CAA92A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20FE3467-AA96-4277-B1A7-A6D10214F6D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4746983D-3DD1-4FBD-B6E5-BBD19EDA0632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3CEE5BF-2A22-4326-AF89-DC10446C92BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>891CD689-6455-4907-9D19-22B21B2AB0FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D4EB9C5-C300-446F-A3E3-0986F3CAA92A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4746983D-3DD1-4FBD-B6E5-BBD19EDA0632</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy html to Clipboard</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ts123</string>
	<key>description</key>
	<string>Expand Abbreviation and Copy/Paste</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zencoding</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import expand
expand.main('''{query}''')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D4EB9C5-C300-446F-A3E3-0986F3CAA92A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>20FE3467-AA96-4277-B1A7-A6D10214F6D2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zen</string>
				<key>script</key>
				<string>import suggest
suggest.main('''{query}''')</string>
				<key>subtext</key>
				<string>zen &lt;abbreviation&gt;</string>
				<key>title</key>
				<string>Expand Abbreviation and Copy/Paste</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>891CD689-6455-4907-9D19-22B21B2AB0FA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import expand
expand.main('''{query}''')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4746983D-3DD1-4FBD-B6E5-BBD19EDA0632</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E3CEE5BF-2A22-4326-AF89-DC10446C92BF</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20FE3467-AA96-4277-B1A7-A6D10214F6D2</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>3D4EB9C5-C300-446F-A3E3-0986F3CAA92A</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4746983D-3DD1-4FBD-B6E5-BBD19EDA0632</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>891CD689-6455-4907-9D19-22B21B2AB0FA</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>E3CEE5BF-2A22-4326-AF89-DC10446C92BF</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ts123/Zencoding.alfredworkflow</string>
</dict>
</plist>
